@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: theme("fontFamily.imprima");
  color: theme("colors.black");
  font-weight: 400;
  font-size: 18px;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;

  @media (min-width: theme("screens.md")) {
    padding: 0 30px;
  }

  @media (min-width: theme("screens.xl")) {
    padding: 0 40px;
  }
}
