@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: theme("fontFamily.imprima");
  color: theme("colors.black");
  font-weight: 400;
  font-size: 18px;
}

.btn {
  background-color: theme("colors.nav");
}
